{% extends "base.html" %}

{% block title %}Upload bank statement{% endblock %}

{% block content %}

<body>
    <h2>Upload Bank Statement (PDF)</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="pdf_file">
        <button type="submit">Upload</button>
    </form>
    
    {% if extracted_text %}
        <h3>Extracted Data:</h3>
        <textarea rows="10" cols="80">{{ extracted_text }}</textarea>
    {% endif %}
</body>
    
    
{% endblock %}
